<!-- <iframe
		class="race-location"
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBlEY-VyF62JB4Ouo1z69JlqNgvg421YXU
      &q=46.414382,10.013988">
  </iframe> -->
<h1>California Races</h1>
<table>
<% @race.each do |race| %>
	<tr>
		<td><p><%= race["title"] %></p></td>
		<td><p><%= race["category"] %></p></td>
		<td><p><%= race["date"] %></p></td>
		<td><a href="<%= race["url"] %>">Link</a></td>
		<td><a onclick="changeGoogleImage('<%= race['location_url'] %>')">Test</a></td>
	</tr>
<% end %>

</table>